@import "https://fonts.googleapis.com/icon?family=Material+Icons";
h1 {
    margin-left: 5px;
    color: green;
    margin-bottom:10px;
}
         
h4{
    margin-left: 5px;
    color: green;
}
.input{
    margin-left:5px;
    border-style:solid;
    border-color:green;
}

.button{
    color:white;
    background-color:green;
    margin-left:5px;
    border-radius:10px;
    padding: 3px;
}

.div{
    border: solid;
    border-color:green;
    width: 350px;
    padding:2px;
}

.list{
    margin-left: 5px;
    margin-top:10px;
}

#empty{
    margin-left: 10px;
    display : block;
    color: red;
}